[submodule "hotkey-recorder-widget-qt"]
	path = hotkey-recorder-widget-qt
	url = https://github.com/PsychedelicShayna/hotkey-recorder-widget-qt.git
[submodule "indigo-stylesheet"]
	path = indigo-stylesheet
	url = https://github.com/PsychedelicShayna/indigo-stylesheet.git
	branch = cursor-rails
